################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnDemandGIS.Page/CopilotIndices/17.14.1091.29919
/.vs
